body 
{
	margin: 0px;
}

p 
{
	color: #222;
}

h1
{
	margin: 0px;
	padding-top: 60px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 80px;
	color: #fff; 
	text-shadow: 0px 1px #000;
}

p
{
	font-size: 25px;
	text-shadow: 0px 1px #000;
}

#main-container
{
	background-color: #04a086;
	padding-bottom: 80px;
}

#download-database
{
	display: flex;
	justify-content: center;
	padding: 20px 0px 40px 0px;
}

#download-database button
{
	width: 340px;
	height: 80px;
	font-size: 20px;
}

#content-container
{
	display: flex;
	justify-content: center;
}

#entry-container
{
	width: 80%;
	padding: 5px;
	background-color: #dbd91a;
}

#entry-container > div:nth-of-type(odd) 
{
	background: #e0e3e1;
}

#entry-container > div:nth-of-type(even) 
{
	background: #ffffff;
}

.entry:last-child
{
	border-bottom: 0px solid #78a8e2;
}

.entry 
{
	display: flex;
	justify-content: space-between;
	border-bottom: 3px solid #78a8e2;
}

.entry-time-stamp,
.entry-image,
.entry-note
{
	display: flex;
	align-items: center;
	padding: 2%;
}

.entry-time-stamp
{
	width: 10%;
}

.entry-image
{
	width: 50%;
	border-style: solid;
	border-width: 0px 3px;
	border-color: #78a8e2;
}

.entry-note
{
	width: 40%;
}

.entry-image img
{
	width: 100%;
}



